/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/* GENERAL */

.column25 {
    width: 25%;
}

.column50 {
    width: 50%;
}

/* HEADER */

header {
    background-color: #000000;
    color: white;

    width: 100%;
    height: 50px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: right;
}

header .icon {
    background-color: #4A4A4A;
    font-size: 0.8rem;

    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 5px;

    display: flex;
    align-items: center;
}

header .icon:nth-child(2) {
    margin-right: 10px;
}

header .icon>* {
    padding: 5px;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100vh - 105px);
    overflow: auto;
    background-color: black;
}

main .window {

    /* background-color: red; creato solo per debug*/
}

main .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pic-container {
    /* height: 100px; */
    width: calc(100% / 7);
    /* width: 200px; */
    margin: 5px;
    position: relative;
}

.pic-container img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 3px;
}

.mic-name {
    font-size: small;
    color: white;
    background-color: rgba(41, 41, 41, 0.5);
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

/* FOOTER */

footer {
    background-color: #222222;
    color: white;
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer section {
    height: 100%;
}

footer section div {
    margin-right: 20px;
}

.icon-footer {
    display: flex;
    align-items: center;
}

.icon-container {
    text-align: center;
}

footer .icon-container i {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

footer .icon-container p {
    font-size: 0.7rem;
}

/* footer left */

footer section:first-child {
    margin-left: 10px;
}

footer .icon-container:nth-child(4) i {
    color: #4BC800;
}

footer section:first-child div:nth-child(even) {
    font-size: 0.5rem;
}

/* footer middle */

footer section:nth-child(2) {
    display: flex;
    justify-content: center;
}

footer section:nth-child(2) div:nth-child(5) {
    font-size: 0.5rem;
}

/* footer right */

footer section:last-child {
    justify-content: end;
}

footer section:last-child div {
    color: red;
    background-color: #4A4A4A;

    height: 100%;
    margin-right: 0;
    padding: 0 10px;

    display: flex;
    align-items: center;
}